.games, .gameForm {
    margin: auto;
    padding: 0 8px;    
    background-color:aliceblue;
}

/* .games {   
    background-size: cover;
    background-position-x: center;
    background-image: url('../auth/logo.png');
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    padding: 0 5rem;
    background-color: hsla(0,0%,100%,0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
} */

.games h1 {
    text-align: center;
}

.game {
    padding: 10px;
    border: 2pt rgb(240, 111, 144) solid;
    background-color: white;
    margin: 8px;
    width: 50%;
}

.game__title {
    font-size: 16pt;
}